/* Стилізація кнопки */
.button {
  background-color: var(--button-background); /* Колір фону кнопки, використовує змінну для кольору */
  text-decoration: none; /* Відсутність декоративного підкреслення тексту */
  display: inline-block; /* Відображення елемента як блоку, але в лінії з іншими елементами */
  padding: 5px 10px; /* Внутрішні відступи: 5px зверху і знизу, 10px зліва і справа */
  border-radius: 5px; /* Закруглені кути кнопки */
  border: 1px solid var(--border-color); /* Межа кнопки з використанням змінної для кольору */
  color: var(--text-color); /* Колір тексту кнопки, використовує змінну */
}

/* Стилізація кнопки при наведенні курсору */
.button:hover {
  text-decoration: underline; /* Підкреслення тексту при наведенні */
}