/* Стилізація списку продуктів */
.products__list {
  padding: 5px; /* Внутрішні відступи списку */
  display: grid; /* Використання сіткової компоновки */
  /* у grid чітко вказуємо кількість стовпчиків на відміну від flex*/
  gap: 5px; /* Відступ між елементами сітки */
}

/* Стилізація карточки продукту */
.product-card {
  border: 1px solid var(--border-color); /* Межа навколо карточки з використанням змінної для кольору */
  padding: 5px; /* Внутрішній відступ карточки */
}

/* вище це мобільна версія. нижче для розширення */

/* Медіа-запит для екранів ширше 600 пікселів */
@media (min-width: 600px) {
  .products__list {
    grid-template-columns: 1fr 1fr; /* Два стовпчики в сітці, кожен займає одну фракцію доступного простору */
  }
}

/* Медіа-запит для екранів ширше 980 пікселів */
@media (min-width: 980px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr; /* Три стовпчики в сітці */
  }
}

/* Медіа-запит для екранів ширше 1200 пікселів */
@media (min-width: 1200px) {
  .products__list {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* Чотири стовпчики в сітці, використовуючи repeat для спрощення запису */
  }
}
